*.o
*.exe
*.log
*.log.*
*.ini
*/obj
.vscode
bin
lib/aho-corasick/libacism.a
apptpl/apptpl
apptpl2/apptpl2
test/sndmsg
test/teststr
test/testut
test/testklib
test/testpool
test/testpidstat
test/procstat
test/words
test/testac
test/testre2
test/testcre2

apptpl/word_policy.txt
