*.o
*.exe
*.log
*.log.*
*.ini
*/obj
.vscode
bin
apptpl/apptpl
apptpl2/apptpl2
test/sndmsg
test/teststr
test/testut
test/testklib
test/testpool
test/testpidstat
test/procstat
test/words
lib/aho-corasick/libacism.a
