*.o
*.exe
*.log
*.log.*
*.ini
*/obj
.vscode
bin
lib/aho-corasick/libacism.a
apptpl/apptpl
apptpl2/apptpl2
cpptpl/cpptpl
test/sndmsg
test/teststr
test/testut
test/testklib
test/testpool
test/testpidstat
test/procstat
test/words
test/testac
test/testre2
test/testcre2

apptpl/word_policy.txt
apptpl/regex_policy.txt
apptpl/config.h
apptpl/config.status
apptpl/config.log
apptpl/autom4te.cache/
